In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.functions import regexp_replace, col

In [3]:
spark=SparkSession.builder.appName('ETL PROCESS').getOrCreate()

In [4]:
df=spark.read.csv('original.csv',inferSchema=True,header=True)

In [5]:
df.show(5)

+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|         City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|    Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|         NULL|                NULL|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|$63863.09|      NULL| 37.6489954|
+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+
only showing top 5 rows

In [6]:
df.select('first_name','City').show(5)

+----------+-------------+
|first_name|         City|
+----------+-------------+
|   Melinde|    Nowa Ruda|
|  Kimberly|       Bulgan|
|    Alvera|         NULL|
|   Shannon|Divnomorskoye|
|  Sherwood|    Mytishchi|
+----------+-------------+
only showing top 5 rows

In [7]:
df.filter(df['City']=='Bulgan').show()

+---+----------+----------+------+------+-------------+---------+----------+-----------+
| id|first_name| last_name|gender|  City|     JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+------+-------------+---------+----------+-----------+
|  2|  Kimberly|Von Welden|Female|Bulgan|Programmer II|$62846.60|48.8231572|103.5218199|
+---+----------+----------+------+------+-------------+---------+----------+-----------+

In [8]:
df.schema

StructType([StructField('id', IntegerType(), True), StructField('first_name', StringType(), True), StructField('last_name', StringType(), True), StructField('gender', StringType(), True), StructField('City', StringType(), True), StructField('JobTitle', StringType(), True), StructField('Salary', StringType(), True), StructField('Latitude', DoubleType(), True), StructField('Longitude', DoubleType(), True)])

In [10]:
df1=df.withColumn('Salary',df['Salary'].cast('float'))

In [11]:
df1.show(5)

+---+----------+----------+------+-------------+--------------------+------+----------+-----------+
| id|first_name| last_name|gender|         City|            JobTitle|Salary|  Latitude|  Longitude|
+---+----------+----------+------+-------------+--------------------+------+----------+-----------+
|  1|   Melinde| Shilburne|Female|    Nowa Ruda| Assistant Professor|  NULL|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II|  NULL|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|         NULL|                NULL|  NULL|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|  NULL|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|  NULL|      NULL| 37.6489954|
+---+----------+----------+------+-------------+--------------------+------+----------+-----------+
only showing top 5 rows

In [12]:
df=df.withColumn('Salary',regexp_replace(col('Salary'),'\$','').cast('float'))

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\hp\AppData\Local\Temp\ipykernel_6716\3022167851.py:1: SyntaxWarning: invalid escape sequence '\$'
  df=df.withColumn('Salary',regexp_replace(col('Salary'),'\$','').cast('float'))

In [13]:
df.show(5)

+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
| id|first_name| last_name|gender|         City|            JobTitle|  Salary|  Latitude|  Longitude|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
|  1|   Melinde| Shilburne|Female|    Nowa Ruda| Assistant Professor|57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II| 62846.6|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|         NULL|                NULL|57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|63863.09|      NULL| 37.6489954|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
only showing top 5 rows

In [14]:
df.schema

StructType([StructField('id', IntegerType(), True), StructField('first_name', StringType(), True), StructField('last_name', StringType(), True), StructField('gender', StringType(), True), StructField('City', StringType(), True), StructField('JobTitle', StringType(), True), StructField('Salary', FloatType(), True), StructField('Latitude', DoubleType(), True), StructField('Longitude', DoubleType(), True)])

In [19]:
df.filter(df['Salary']>60000).show(5)

+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
| id|first_name| last_name|gender|         City|            JobTitle|  Salary|  Latitude|  Longitude|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II| 62846.6|48.8231572|103.5218199|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|63863.09|      NULL| 37.6489954|
|  9|      Roth|O'Cannavan|  Male|       Heitan|VP Product Manage...| 73697.1| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|     Arbel√°ez|Mechanical System...|68098.42|  4.272793| -74.416014|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
only showing top 5 rows

In [16]:
# How to add new column
df.withColumn("tax_rate",df['Salary']*0.1).show(5)

+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+-----------------+
| id|first_name| last_name|gender|         City|            JobTitle|  Salary|  Latitude|  Longitude|         tax_rate|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+-----------------+
|  1|   Melinde| Shilburne|Female|    Nowa Ruda| Assistant Professor|57438.18|50.5774075| 16.4967184|5743.817968750001|
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II| 62846.6|48.8231572|103.5218199|    6284.66015625|
|  3|    Alvera|  Di Boldi|Female|         NULL|                NULL|57576.52|39.9947462|116.3397725|5757.651953125001|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|61489.23|44.5047212| 38.1300171|   6148.923046875|
|  5|  Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|63863.09|      NULL| 37.6489954|   6386.308984375|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+-----------------+
only showing top 5 rows

In [17]:
df.withColumnRenamed('gender','SEX').show(5)

+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
| id|first_name| last_name|   SEX|         City|            JobTitle|  Salary|  Latitude|  Longitude|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
|  1|   Melinde| Shilburne|Female|    Nowa Ruda| Assistant Professor|57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II| 62846.6|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|         NULL|                NULL|57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|63863.09|      NULL| 37.6489954|
+---+----------+----------+------+-------------+--------------------+--------+----------+-----------+
only showing top 5 rows

In [18]:
df.groupby('JobTitle').agg({'Salary':'sum'}).show()

+--------------------+----------------+
|            JobTitle|     sum(Salary)|
+--------------------+----------------+
|Systems Administr...| 264525.69921875|
|   Media Manager III|  140905.0703125|
|  Recruiting Manager|367391.685546875|
|       Geologist III| 133739.40234375|
|        Geologist II|  86587.73046875|
|Database Administ...|   52018.4609375|
|   Financial Analyst| 629598.33203125|
|  Analyst Programmer|   374490.921875|
|Software Engineer II|    74782.640625|
|       Accountant IV| 165464.49609375|
|    Product Engineer|  622904.2734375|
|Software Test Eng...|356046.427734375|
|Safety Technician...| 29421.529296875|
|    Junior Executive|  391575.3046875|
|Systems Administr...|     154118.4375|
|Human Resources A...|162527.759765625|
|        VP Marketing|364954.279296875|
|  Environmental Tech|356207.224609375|
|Mechanical System...|        908308.5|
| Assistant Professor|  490887.2421875|
+--------------------+----------------+
only showing top 20 rows

In [20]:
df.show()

+---+----------+----------+------+---------------+--------------------+--------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|  Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+--------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II| 62846.6|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|63863.09|      NULL| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Tr√©lissac|Desktop Support T...|46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...| 73697.1| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbel√°ez|Mechanical System...|68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...| 73423.7| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Su≈Çkowice|Compensation Analyst|33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chr√°st|  Analyst Programmer|40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mie≈õcisko|Research Assistan...|51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+--------+----------+-----------+
only showing top 20 rows